* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}
#navbar {
  display: flex;
  justify-content: flex-end;
  height: 10vh;
  width: 100vw;
  font-size: 14px;
}
#navbar ul {
  display: flex;
  align-items: center;
}
#navbar ul li {
  display: flex;
  text-decoration: none;
  list-style: none;
  padding: 1rem;
}
#navbar ul li span {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: green;
  overflow: hidden;
}
#navbar ul li span:before { 
  content: url(https://lh3.googleusercontent.com/-OLmnvRPiPu0/AAAAAAAAAAI/AAAAAAAAAAA/AAKWJJMUA6B8hrwGzGWHysoQ-R-TfUB5sg.CMID/s32-c/photo.jpg)
}
.master-container {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.master-container img {
  padding-bottom: 2rem;
}
.search-container input {
  width: 482px;
  height: 44px;
  border: none;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  font-size: 16px;
  padding-left: 1rem;
}
.search-container input:hover {
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}
.search-container input:focus {
  outline: none;
}
.button-container {
  display: flex;
  
}
.button-container input[type=submit] {
  min-width: 54px;
  height: 36px;
  margin: 0 0.5rem 0 0.5rem;
  font-size: 13px;
  margin: 2rem 0.5rem;
  background-color: #f2f2f2;
  border-radius: 5px;
  border: 1px solid #f2f2f2;
  padding: 0 1rem;
}
.button-container input[type=submit]:hover {
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  border: 1px solid #c6c6c6;
  color: #222;
}
footer {
  width: 100vw;
  height: 5vh;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  background-color: #f2f2f2;
  font-size: 14px;
  border-top: 1px solid #e4e4e4;
  color: #494949;
}
#message {
  font-size: 13px;
}
#footer-left {
  display: flex;
}
#footer-left ul {
  display: flex;
  justify-content: flex-start;
}
#footer-left li {
  list-style: none; 
  padding-left: 1rem;
}
#footer-right ul {
  display: flex;
  justify-content: flex-end;
}
#footer-right li {
  list-style: none; 
  padding-right: 1rem;
}
#message a {
  text-decoration: none;
}